{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
<link rel="stylesheet" href="{% static "style.css" %}"/>
</head>

<title>Premiers pas</title>

<h1>Emploi du temps</h1>

<svg id="schedule"></svg>

<script>
    const csvDataPath = "{% url 'base:fetch_courses' year=yyyy week=ww%}";
</script>
<script src="{% static "jquery.min.js" %}"></script>
<script src="{% static "d3.v4.min.js" %}"></script>
<script src="{% static "script.js" %}"></script>

</html>