{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Modules</h1>
    <table id="modules" border="1">
        <tr>
        <th>Nom</th>
        <th>Abbréviation</th>
        <th>Nom du responsable</th>
        </tr>
        {% for module in modules %}
        <tr>
            <th>{{ module.name }}</th>
            <th>{{ module.abbrev }}</th>
            <th>{{ module.tutor_name }}</th>
        </tr>
        {% endfor %}
    </table>
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "d3.v4.min.js" %}"></script>
    <script src="{% static "script.js" %}"></script>
    <script>
        const csvModulesPath = "{% url 'base:fetch_modules' %}";
        fetch_modules();
    </script>
</body>
</html>