{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contacts</h1>
    <table border="1">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Utilisateur</th>
            <th>E-mail</th>
        </tr>
        {% for tut in tutors %}
        <tr>
            <th>{{ tut.first_name }}</th>
            <th>{{ tut.last_name }}</th>
            <th>{{ tut.username }}</th>
            <th>{{ tut.mail }}</th>
        </tr>
    </table>
    {% endfor %}
</body>
</html>